JBT_SERVICE_NAME=sim-trading
JBT_SERVICE_PORT=8101
JBT_LOG_LEVEL=INFO
JBT_DECISION_API_URL=http://decision:8104
JBT_DASHBOARD_API_URL=http://dashboard:8106
SIMNOW_BROKER_ID=
SIMNOW_USER_ID=
SIMNOW_PASSWORD=
SIMNOW_APP_ID=
SIMNOW_AUTH_CODE=
SIMNOW_MD_FRONT=
SIMNOW_TD_FRONT=
