JBT_SERVICE_NAME=live-trading
JBT_SERVICE_PORT=8102
JBT_LOG_LEVEL=INFO
JBT_DECISION_API_URL=http://decision:8104
JBT_DASHBOARD_API_URL=http://dashboard:8106
LIVE_BROKER_ID=
LIVE_USER_ID=
LIVE_PASSWORD=
LIVE_APP_ID=
LIVE_AUTH_CODE=
LIVE_MD_FRONT=
LIVE_TD_FRONT=
