JBT_SERVICE_NAME=dashboard
JBT_SERVICE_PORT=8106
JBT_LOG_LEVEL=INFO
JBT_SIM_TRADING_API_URL=http://sim-trading:8101
JBT_LIVE_TRADING_API_URL=http://live-trading:8102
JBT_BACKTEST_API_URL=http://backtest:8103
JBT_DECISION_API_URL=http://decision:8104
JBT_DATA_API_URL=http://data:8105
